<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.wutanghax0r.homeapp"
    version     = "1.0.0" >
<!-- versionCode is optional and Android only -->

  <name>Home App</name>

  <description>
      Controll Your Home.
  </description>

  <author href="https://build.phonegap.com" email="p924@yahoo.com">
      Benino
  </author>

</widget>
